<label for="problem">Problem:</label>
<select id="problem" name="problem">
    <option value="segmentation">Segmentation</option>
</select>
<br><br>

<label for="model">AI Model:</label>
<select id="model" name="model">
    <!-- Default options for Classification -->
    <option value="resnet50">ResNet50</option>
</select>
<br><br>

<label for="explainable_ai">Explainable AI Method:</label>
<select id="explainable_ai" name="explainable_ai">
    <!-- Default options for Classification -->
    <option value="GradCAM">GradCAM</option>
    <option value="EigenCAM">EigenCAM</option>
    <option value="HiResCAM">HiResCAM</option>
</select>
<br><br>
