<label for="problem">Problem:</label>
<select id="problem" name="problem">
    <option value="segmentation">Segmentation</option>
</select>
<br><br>

<label for="model">AI Model:</label>
<select id="model" name="model">
    <!-- Default options for Classification -->
    <option value="resnet50">ResNet50</option>
    <option value="resnet101">ResNet101</option>
</select>
<br><br>

<label for="explainable_ai">Explainable AI Method:</label>
<select id="explainable_ai" name="explainable_ai">
    <!-- Default options for Classification -->
    <option value="GradCAM">GradCAM</option>
    <option value="EigenCAM">EigenCAM</option>
    <option value="HiResCAM">HiResCAM</option>
    <option value="GradCAMElementWise">GradCAMElementWise</option>
    <option value="AblationCAM">AblationCAM</option>
    <option value="XGradCAM">XGradCAM</option>
    <option value="GradCAMPlusPlus">GradCAMPlusPlus</option>
    <option value="ScoreCAM">ScoreCAM</option>
    <option value="EigenGradCAM">EigenGradCAM</option>
    <option value="FullGrad">FullGrad</option>

</select>
<br><br>

<label for="category">Label:</label>
<select id="category" name="category">
    <!-- Default options for Classification -->
    <option value="cable">cable</option>
    <option value="tower_wooden">tower_wooden</option>
    <option value="tower_lattice">tower_lattice</option>
    <option value="tower_tucohy">tower_tucohy</option>
</select>
<br><br>