<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VQI | Model Improvement </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/improvement-styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Your Header</h1>
    </div>

    <div class="grid-container">
        <div class="grid-item" id="data">
            <img src="data_icon.png" alt="Data Augmentation Icon">
            <h2>Data Augmentation</h2>
            <p>Description</p>
        </div>
        <div class="grid-item" id="gradient">
            <img src="gradient_icon.png" alt="Gradient Augmentation Icon">
            <h2>Gradient Augmentation</h2>
            <p>Description</p>
        </div>
        <div class="grid-item" id="loss">
            <img src="loss_icon.png" alt="Loss Augmentation Icon">
            <h2>Loss Augmentation</h2>
            <p>Description</p>
        </div>
        <div class="grid-item" id="feature">
            <img src="feature_icon.png" alt="Feature Augmentation Icon">
            <h2>Feature Augmentation</h2>
            <p>Description</p>
        </div>
        <div class="grid-item" id="model">
            <img src="model_icon.png" alt="Model Augmentation Icon">
            <h2>Model Augmentation</h2>
            <p>Description</p>
        </div>
    </div>

    <div class="footer">
        <h2>Your Footer</h2>
    </div>
</body>
</html>